@font-face {
    font-family: Bosque;
    src: url('../fonts/Bosque Encantado.ttf') format('truetype');
}
audio {
    display: none;
}

.content {
    height: 100vh;
    background: url('../images/plantWallpaper.jpg') no-repeat;
    background-size: cover;
    color: white;
}

.header {
    max-width: 1024px;
    height: 25vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, .75);
}

.header h1 {
    padding-top: 50px;
    font-size: 4rem;
    font-family: Bosque, Arial, Helvetica, sans-serif;
    color: greenyellow;
}

#timer {
    display: none;
    margin-top: 25px;
    text-align: center;
    font-size: 2rem;
    color: white;
}

#question {
    padding-top: 20px;
    text-align: center;
    font-size: 2rem;
    color: white;
}

.header button {
    width: 150px;
    height: 50px;
    margin-top: 25px;
    border: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 1.75rem;
    font-weight: bold;
    background-color: greenyellow;
    color: white;
    cursor: pointer;
}

.quiz-area {
    max-width: 1024px;
    height: calc(75vh - 20px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, .75);
}

#results {
    display: none;
}

.result-stats {
    width: 50%;
    font-size: 10em;
    float: left;
    text-align: center;
}

#correct-answers i {
    color: yellowgreen;
}

#incorrect-answers i {
    color: darkred;
}

#answers {
    width: 80%;
    line-height: calc(50vh - 275px);
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    text-align: center;
}

#answers button {
    width: 100%;
    height: 75px;
    border: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 1.75rem;
    font-weight: bold;
    background-color: gray;
    color: white;
    cursor: pointer;
}

#answers button:hover {
    background-color: white;
    color: gray;
}

.correct {
    background-color: yellowgreen !important;
}

.incorrect {
    background-color: darkred !important;
}